# all files into "ready_for_model_namelists" directory
ready_for_model_namelists
CMakeLists.txt
*.pyc
testcase/TEST0*/
testcase/TEST_LIST.dat
testcase/archive
testcase/*_PROFILING
testcase/*_BENCHMARK
bfmv5/namelist.passivetrc_new
.cproject
.project
.settings
*.o
*.x
*.mod
*.out
*.swp
*.nc
