    CC=mpicc
    FC=mpif90
    LD=mpif90
	AR=ar
	ARFLAGS=-r
	BFM_LIB=-L @@BFM_LIB@@ -lbfm
	CPPFLAGS=
# F Flags
        FFLAGS_DBG= -O0 -g -Wall -Wextra -fbounds-check -fimplicit-none -pedantic -ffixed-line-length-132
	FFLAGS= $(FFLAGS_DBG)  -I$(NETCDF_INC)  -I$(OPENMPI_HOME)/include -fno-underscoring
	LDFLAGS= -L $(NETCDF_LIB) -lnetcdff -L $(MPI_LIB)/lib -lmpi_f90 $(BFM_LIB) -fno-underscoring
# C Flags
        CFLAGS_DBG=
        CFLAGS=  ${CFLAGS_DBG} -I$(NETCDF_INC) -I$(OPENMPI_HOME)/include
