    CC=mpicc 
    FC=mpif90 -fopenmp
    LD=mpif90 -fopenmp
	AR=ar
	ARFLAGS=-r
	BFM_LIB=-L @@BFM_LIB@@ -lbfm
	CPPFLAGS=
# F Flags
        FFLAGS_DBG=  -O0 -g -traceback -fp-stack-check -check bounds -fpe0
	FFLAGS= $(FFLAGS_DBG)  -I$(NETCDF_INC)  -I$(OPENMPI_HOME)/include -extend_source
	LDFLAGS= -L $(NETCDF_LIB) -lnetcdff -L $(MPI_LIB)/lib -lmpi_f90 $(BFM_LIB)
# C Flags
        CFLAGS_DBG=
        CFLAGS=  ${CFLAGS_DBG} -I$(NETCDF_INC) -I$(OPENMPI_HOME)/include
